.modal-header {
    background-color: #033c6b; 
    color: white; 
    border-bottom: 1px solid #dee2e6;
    padding: 15px; 
    font-family: 'Times New Roman', Times, serif;
  }
  
  .modal-title {
    margin: 0; 
    font-size: 1.5rem; 
    font-family: 'Times New Roman', Times, serif;
  }
  
  .close {
    color: white; 
    font-size: 1.5rem; 
    opacity: 0.8;
  }
  
  .close:hover {
    opacity: 1; 
  }
  
  .modal-body {
    padding: 20px; 
  }
  
  .table {
    width: 100%; 
    margin-bottom: 20px;
    background-color: #f8f9fa; 
  }
  
  .table th, .table td {
    padding: 12px; 
    vertical-align: middle; 
    border-top: 1px solid #dee2e6; 
    font-family: 'Times New Roman', Times, serif;
  }
  
  .table th {
    background-color: #033c6b; 
    color: white; 
    text-align: left; 
    font-family: 'Times New Roman', Times, serif;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
  }
  
  .modal-footer {
    padding: 15px; 
    border-top: 1px solid #dee2e6; 
    background-color: #f1f1f1;
  }
  
  .modal-footer .btn-secondary {
    background-color: #6c757d; 
    border: none; 
  }
  
  .modal-footer .btn-secondary:hover {
    background-color: #5a6268; 
  }
  
  h5{
    font-family: 'Times New Roman', Times, serif;
  }

  .text-blue {
    color: blue;
  }
  
  .text-green {
    color: green;
  }
  
  /* Responsivo */
@media (max-width: 768px) {
  .modal-header {
      padding: 10px; /* Reducir el padding para pantallas medianas */
  }

  .modal-title {
      font-size: 1.2rem; /* Reducir el tamaño de la fuente en pantallas medianas */
  }

  .close {
      font-size: 1.2rem; /* Reducir el tamaño del botón cerrar */
  }

  .table th, .table td {
      padding: 10px; /* Reducir el padding de las celdas */
      font-size: 14px; /* Reducir el tamaño de la fuente en la tabla */
  }
}

@media (max-width: 480px) {
  .modal-header {
      padding: 8px;
  }

  .modal-title {
      font-size: 1rem;
  }

  .close {
      font-size: 1rem;
  }

  .modal-body {
      padding: 10px;
  }

  .table {
      width: 100%;
      display: block;
      overflow-x: auto; /* Permite el desplazamiento horizontal en pantallas pequeñas */
      white-space: nowrap; /* Evita que el contenido se ajuste en varias líneas */
  }

  .table th, .table td {
      padding: 8px;
      font-size: 12px;
  }

  .modal-footer {
      padding: 10px;
  }
  
  /* Ajustar el tamaño del texto de los títulos */
  h5 {
      font-size: 1rem;
  }

  /* Alinear el texto para que quede centrado en celdas pequeñas */
  .table th, .table td {
      text-align: center;
  }
}
