<div class="contenedor" style="background-image: url('assets/Caminoreal.png');">
    <div class="recuperacion">
        <h2>Restablecer Contraseña</h2>    
    <form (ngSubmit)="onSubmit()">
      <label for="newPassword">Nueva Contraseña:</label>
      <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
      
      <label for="confirmPassword">Confirmar Contraseña:</label>
      <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      
      <button type="submit" class="btn-submit" [disabled]="loading">Restablecer Contraseña</button>
    </form>
    
    <div *ngIf="loading">Procesando...</div>
    <div *ngIf="message">{{ message }}</div>
  </div>
</div>
  