<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
<body>
    <header>
        <div class="container">
            <h1><img src="./assets/logo_caminoreal.png" width="120" height="120"> Sistema de administracion Camino Real</h1>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="error-message">
                    <i class="fas fa-ban custom-icon"> Acceso denegado</i>
                    <br>
                <p>No tienes permiso para acceder a esta página.</p>
                <p>No cuentas con los permisos , ni roles para navegar en esa pagina</p>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Sistema de administracion Camino Real</p>
        </div>
    </footer>
</body>
