.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .modal-body {
    padding: 1.5rem; /* Ajusta el padding para un mejor espaciado */
  }
  
  .modal-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-control {
    border-radius: 0.25rem;
    box-shadow: none;
  }
  
  textarea.form-control {
    resize: vertical; 
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border: none;
    color: #fff;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
    color: #fff;
  }
  
  .d-none {
    display: none;
  }
  
  .custom-close-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 35%;
  
  }
  
  .custom-close-button i {
    color: #ff0000; 
    font-size: 24px; 
  }
  
  .custom-close-button:focus {
    outline: none;
  }