.contenedor {
    display: flex;
      justify-content: flex-end;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover; 
      background-position: center; 
      height: 100vh;
  }
  
.recuperacion {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 5%;
  }
  
  .recuperacion h2 {
    margin-bottom: 20px;
  }
  
  .recuperacion .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .recuperacion label {
    display: block;
    margin-bottom: 5px;
  }
  
  .recuperacion input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .recuperacion .btn-submit {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .recuperacion .btn-submit:hover {
    background-color: #0056b3;
  }
  
  .recuperacion .message {
    margin-top: 20px;
    color: rgb(128, 0, 0);
  }

  p{
    text-align: justify;
  }
  .boton{
    align-items: center;
  }
  .loading-message {
    margin-top: 10px;
    color: #007bff; /* Color de texto azul para el indicador de carga */
    font-weight: bold;
}

/* Estilos para el mensaje */
.message {
    margin-top: 10px;
    font-size: 16px;
}

/* Estilo para el botón de envío */
.btn-submit {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-submit:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}
