<div class="contenedor" style="background-image: url('assets/Caminoreal.png');">
  <div class="recuperacion">
      <h2>Recuperación de Contraseña/Usuario</h2>
      <p>Por favor, ingrese su nombre de usuario o correo electrónico. Enviaremos un correo a administración y pronto se pondrán en contacto con usted para el envío de su nueva contraseña o usuario.</p>
      
      <form (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="username">Nombre de Usuario o Correo Electrónico:</label>
              <input type="text" id="username" [(ngModel)]="usernameOrEmail" name="usernameOrEmail" required>
          </div>
          
          <button type="submit" class="btn-submit" [disabled]="loading">Enviar</button>
      </form>
  </div>
</div>
